#A{float:left;}
#C{float:left;}
#B{float:left;}
.e{margin: 5px;width: 200px;height: 100px;background-color: gray;}
.f{margin: 5px;width: 200px;height: 100px;background-color: gray;}
.g{margin: 5px;width: 200px;height: 100px;background-color: gray;}
.a{margin: 10px;width: 300px;height: 150px;background-color: gray;}
.b{margin: 10px;width: 300px;height: 150px;background-color: gray;}
